@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #000;
    --background: #fff;
    --border: var(--tw-gray-200);
    --forminput-bg: var(--tw-gray-50);
    --forminput-border: var(--tw-gray-300);
  }

  :root[class~="dark"] {
    --foreground: #fff;
    --background: #000;
    --border: var(--tw-gray-900);
    --forminput-bg: var(--tw-gray-950);
    --forminput-border: var(--tw-gray-800);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
